
.hidden { color:#DED3B9; }
table.main { border-width:2px; border-style: solid; border-color:#804000; background-image: url(/ds_graphic/background/content.jpg);}
table.news { background-color:#F1EBDD; }
.in_border { background-color:#F1EBDD; text-align:left;}

