	body {
	color: #41403d;
	font-family: Verdana;
	background-color: #d3c4ac;
	}
	#content{
	width: 600px;
	height: 40%;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f7f7f7;
	box-shadow: 1px 1px 0px 0px black;
	text-align: center;
	}
  #quote{
  background:white;
  border: 1px solid #515151;
  color: #747474;
  }